@using ViolationWebApplication.Data;
@inject ViolationWebApplication.Interfaces.IUnitOfWork UnitOfWork
@inject UserManager<AppUser> UserManager
@inject ViolationWebApplication.Data.AppDbContext context
@{
    var violations = (await UnitOfWork.ViolationRepository.GetAll()).ToList();
    await UnitOfWork.ViolationRepository.ExplicitLoadingRange(violations, "Car");
    var user = await UserManager.GetUserAsync(User);
}

<h2>Нарушения пользователя</h2>
@if ((await UserManager.GetRolesAsync(user)).Contains("user"))
{
    await context.Entry(user).Reference(u => u.Owner).LoadAsync();
    var owner = user.Owner;
    await UnitOfWork.OwnerRepository.ExplicitLoadingCollection(owner, "Cars");
    ICollection<Car>? cars = owner.Cars;
    violations = violations.Where(v => cars.Contains(v.Car)).ToList();
}
@if (violations.Count > 0)
{
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Номер машины</th>
                <th scope="col">Машина</th>
                <th scope ="col">Нарушение</th>
                <th scope="col">Время</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var violation in violations)
            {
                var car = violation.Car;
                string carName = $"{car.Manufacturer} {car.Model}";

                <tr>
                    <td>@violation.Id</td>
                    <td>@car.CarNumber</td>
                    <td>@carName</td>
                    <td>@Html.DisplayTextFor(v=>violation.TypeOfViolation)</td>
                    <td>@violation.DateTime</td>
                    @if ((await UserManager.GetRolesAsync(user)).Contains("user"))
                    {
                        <td>
                            <form method="get" asp-action="PayFine" asp-controller="Violation" asp-route-id="@violation.Id">
                                <button class="btn btn-success">Оплатить</button>
                            </form>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Violation" asp-route-id="@violation.Id">Удалить</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нарушения отсутствуют</p>
}
