@using Microsoft.AspNetCore.Identity

@inject UserManager<AppUser> UserManager
@inject ViolationWebApplication.Interfaces.IUnitOfWork UnitOfWork

@{
	var user = await UserManager.GetUserAsync(User);
	var owner = await UnitOfWork.OwnerRepository.Get(user.OwnerId);
}

<p>Имя пользователя: @user.UserName</p><br />
<p>Электронная почта: @user.Email</p><br />
@if ((await UserManager.GetRolesAsync(user)).Contains("user"))
{
	<p>ФИО: @owner.LastName @owner.FirstName @owner.Patronymic</p><br />
	<p>Номер водительских прав: @owner.DriversLicense</p><br />
}

